@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap");
body::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0 3%;
  font-family: "Mulish", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.2em;
  background: linear-gradient(180deg, #16A098 0%, rgba(57, 38, 87, 0.8) 100%);
  color: #ffffff;
}

h1,
h2,
p {
  margin: 0;
}

h1,
h2 {
  font-weight: 700;
  font-size: 42px;
}

img {
  object-fit: contain;
}

a {
  text-decoration: none;
  color: inherit;
  transition: 0.2s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  padding: 30px 0;
  width: 100%;
}

.main-list {
  display: flex;
  gap: 150px;
}

.list-item__link {
  position: relative;
  font-size: 26px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #128768;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.list-item__link:hover::after {
  width: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(../img/developer.png);
  background-size: cover;
  padding: 10vh 10vw 80vh 10vw;
  background-position: center bottom;
  gap: 20px;
}

.home__title {
  letter-spacing: 0.3em;
  font-size: 70px;
  text-align: center;
  color: #035942;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home__subtitle {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  line-height: 1;
}

.about {
  margin-bottom: 200px;
}

.about__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color:#035942;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 60px;
}

.about__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info-block {
  display: flex;
  justify-content: space-between;
}

.info-block__text {
  width: 40%;
}

.info-block__img {
  align-self: center;
}

.skills {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.skills__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #035942;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.skills__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}


.skills-list {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.skill__info {
  width: 150px;
}

.skill__button {
  font: inherit;
  font-weight: 700;
  color: #fff;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.skill__button:hover {
  color: #16A098;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.project__img{
  border-radius: 30px;
}

.project__link {
  position: relative;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project__link::after {
  position: absolute;
  transition: 0.2s;
  content: "";
  border-radius: 10px;
  width: 55%;
  height: 3px;
  bottom: -12px;
  background: #a178b9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.project__link:hover::after {
  width: 100%;
}

.feedback {
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.feedback__title {
  font-size: 60px;
  position: relative;
  text-align: left;
  color: #cc8bf2;
  line-height: 1;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-bottom: 20px;
}

.feedback__title::after {
  position: absolute;
  content: "";
  border-radius: 10px;
  width: 60%;
  height: 1px;
  bottom: -13px;
  background: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  gap: 20px;
}

.form label {
  width: 100%;
}

.form__input {
  width: 100%;
  font: inherit;
  background: #392657;
  border: 2px solid #a178b9;
  color: #fff;
  padding: 15px;
  border-radius: 10px;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.25));
}

.form__input::placeholder {
  color: #fff;
}

.form__input:active,
.form__input:focus,
.form__input:focus-visible {
  border: none;
}


/* From Uiverse.io by TCdesign-dev */ 
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #a178b9;
  color: white;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #a178b9;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'for free';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }
 .card {
  width: 190px;
  height: 120px;
  padding: 0.5rem;
  background: rgba(198, 198, 198, 0.34);
  border-radius: 8px;
  backdrop-filter: blur(5px);
  border-bottom: 3px solid rgba(255, 255, 255, 0.440);
  border-left: 2px  rgba(255, 255, 255, 0.545) outset;
  box-shadow: -40px 50px 30px rgba(0, 0, 0, 0.280);
  transform: skewX(10deg);
  transition: .4s;
  overflow: hidden;
  color: white;
}

.card:hover {
  height: 254px;
  transform: skew(0deg);
}

.align {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-self: flex-start;
}

.red {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ff605c;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.yellow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffbd44;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.green {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #00ca4e;
  box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.280);
}

.card h1 {
  text-align: center;
  margin: 1.3rem;
  color: rgb(218, 244, 237);
  text-shadow: -10px 5px 10px rgba(0, 0, 0, 0.573);
}
